@layer reset, init, typography, hamburger, design;
@import url(normalize.css) layer(reset);
@import url(typography.css) layer(typography);
@import url(hamburger.css) layer(hamburger);
@layer init {
  :root {
    --color-primary: #ff0000;
    --color-secondary: #ff6600;
    --color-light: #f5f5f5;
    --color-dark: #1c112b;
    --font-family: "Arial", sans-serif;
  }
}
@layer design {
  .image--responsive {
    width: 100%;
    height: auto;
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  /*
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/
  header {
    position: relative;
  }
  .hero__shape {
    width: 100%;
    position: absolute;
  }
  footer {
    z-index: 0;
    position: relative;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-top: 1px solid var(--dark, #1c112b);
    background: url("/static/images/footer-bg.jpg") lightgray 50% / cover
      no-repeat;
  }
  .footer__overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(245, 245, 245, 0.75);
  }
  footer > section {
    z-index: 5;
    width: 100%;
  }

  .footer__sponsors {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    border-bottom: var(--color-dark, #1c112b) 1px solid;
    padding-bottom: 16px;
  }
  .footer__sponsors-logos {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sponsors__logo {
    width: 40%;
    height: auto;
  }

  .footer__socials {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px 40px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .social {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .social svg {
    fill: var(--color-dark, #1c112b);
    stroke: var(--color-dark, #1c112b);
    transition: 0.1s ease-in-out;
  }
  .social:hover svg {
    fill: var(--color-secondary);
    stroke: var(--color-secondary);
  }

  .footer__info {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__info--item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .info__position {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: auto;
  }
  .position__map {
    aspect-ratio: 1/1;
    flex: 2;
    max-width: 160px;
  }
  .position__info {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 250px;
  }

  .position__map iframe {
    width: 100%;
    height: 100%;
    border: var(--color-dark, #1c112b) 2px solid;
  }

  .info__contact svg {
    width: 32px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
  }
  .info__contact,
  .info__contact > a {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
  .info__emails {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .footer__copy {
    display: flex;
    padding: 3px 0;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    border-top: var(--color-dark, #1c112b) 1px solid;
  }

  @media screen and (min-width: 600px) {
    .sponsors__logo {
      width: 25%;
    }
    .footer__sponsors-logos {
      gap: 24px;
    }
    .footer__copy {
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 800px) {
    .sponsors__logo {
      width: 200px;
    }
    .footer__info {
      gap: 64px;
    }
    .footer__sponsors-logos {
      justify-content: space-between;
      flex: 1;
    }
  }
}
