<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lezci.com</title>
  <meta name="description" content="Nejdůležitější věci ohledně závodu">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preload" as="image" href="/static/img/index-bg.avif">

</head>
<body>
  <div class="header">
    <header class="hamburger-zone header--index"> 
      {% for item in collections.all %}
        {% if item.filePathStem == "/content/hero" %}
          <img 
            class="header__bg" 
            src="{{ item.data.hero_images[0].image }}" 
            alt="Obrázek Lezce"
          >
        {% endif %}
      {% endfor %}
      <div class="hamburger-row hamburger-zone ">
        <a class="logo" href="/index.html">
          <img src="" alt="Lezci.com logo">
        </a>
      
        <a href="javascript:void(0)" class="hamburger hamburger-btn hamburger-zone">
          <div class="spans"><span></span><span></span></div>
          <div class="spans"><span></span><span></span></div>
          <div class="spans"><span></span><span></span></div>
        </a>
      </div>
          <nav class="hamburger-nav hamburger-zone">
              <ul>
                  <li><a lass="menu__item" href="/index">Domů</a></li>
                  <li><a class="menu__item" href="pages/about">Aktuality</a></li>
                  <li><a class="menu__item" href="pages/years">Oddíl</a></li>
                  <li><a class="menu__item" href="pages/proposition">Náš tým</a></li>
                  <li><a class="menu__item" href="pages/applications">Pro veřejnost</a></li>
                  <li><a class="menu__item" href="pages/gallery">Galerie</a></li>
                  <li><a class="menu__item" href="pages/contact">Kontakt</a></li>
              </ul>
          </nav>

    </header>


  <script type="module" src="/static/js/hamburger.js"></script>
  <script>
    const params = new URLSearchParams(window.location.hash.slice(1));
    if (params.has("invite_token")) {
        window.location.href = `/admin/#invite_token=${params.get("invite_token")}`;
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/react@19/umd/react.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@19/umd/react-dom.production.min.js"></script>
</body>
</html>

